<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Travelista | Payment</title>
    <link href="\assets_admin\img\logo.png" rel="icon">

    <!-- Custom fonts for this template-->
    <link href="\assets_admin\vendor\fontawesome-free\css\all.min.css" rel="stylesheet" type="text/css">
    <link href="\assets_admin\vendor\fontawesome-free\css\fontawesome.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="\assets_admin\css\sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
<div class="header2">
    <div style="text-align:center">
        <a href="/userHome" style="float: left;" alt="Logo" class="logo"><img src="\images\logo.png" width="120"></a>
        <h1 style="display:block;width:40%;margin: 20px auto 20px auto;color: #1e4356;letter-spacing: 25px;font-weight: bold;font-family: 'Bebas Neue', cursive;font-size: 50px;">TRAVELISTA</h1>

    </div>
</div>
<nav class="navbar navbar-expand navbar-light topbar static-top" style="background-color: #f1f1f1;">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="home navbar-nav ml-auto">
        <h1 style="color:#5a5c69!important;margin-top: 23px;font-size: 20px;margin-right: 1105px;">Welcome <b><span th:text="${profile_firstName}"></span><span> </span><span th:text="${profile_lastName}"></span></b></h1>
        <a class=" active" href="/userHome" style="padding-top: 20px;">Home</a>
        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                <img class="img-profile" src="\assets_admin\img\user.png">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>

    </ul>

</nav>
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-dark accordion" style="background: #1e4356;" id="accordionSidebar">

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/userHome">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>User Home</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Book
        </div>



        <li class="nav-item active">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
               aria-controls="collapseTwo">
                <i class="fas fa-fw fa-calendar"></i>
                <span>Book Tickets</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">

                    <a class="collapse-item" href="/searchFlight">Search FLights</a>

                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            View
        </div>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-table"></i>
                <span>Your Bookings</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/viewBookedTicket">Booked Tickets</a>

                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                        <div class="card card-signin my-5">
                            <div class="card-body">
                                <h5 class="card-title text-center"><b>Book Ticket</b></h5>
                                <form method="POST" name="paymentForm" onsubmit="return validate()">

                                    <div class="form-group col-lg-12 mx-0" >
                                        <label for="email_id">Email ID</label>
                                        <input type="text" th:value="${user_id}"  class="form-control" id="email_id" disabled>
                                    </div>


                                    <div class="form-group col-lg-12 mx-0" >
                                        <label for="card_no">Card No.</label>
                                        <input type="text" th:value="${card_no}"  class="form-control" name="card_no" id="card_no" disabled>
                                    </div>

                                    <div class="form-group col-lg-12 mx-0" >
                                        <label for="cvv">Card CVV</label>
                                        <input type="text" th:value="${cvv}"  class="form-control" name="cvv" id="cvv" disabled>
                                    </div>

                                    <div class="form-group col-lg-12 mx-0" >
                                        <label for="validTo">Valid To</label>
                                        <input type="text" th:value="${valid_to}" class="form-control" name="validTo" id="validTo" disabled>
                                    </div>

                                    <div class="form-group col-lg-12 mx-0" >
                                        <label for="balance">Balance</label>
                                        <input type="text" th:value="${credit_balance}" class="form-control" name="balance" id="balance" disabled>
                                    </div>
                                    <a th:href="@{/viewBookedTicket}"><button class="btn btn-success text-uppercase col-lg-12 mx-0" type="button" data-toggle="tooltip" data-placement="top" title="Pay" value="Pay">Pay</button></a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    &copy; Copyright <strong><span>Travelista</span></strong>. All Rights Reserved
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up" style="padding-top: 14px"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="assets_admin/vendor/jquery/jquery.min.js"></script>
<script src="assets_admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="assets_admin/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="assets_admin/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="assets_admin/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="assets_admin/js/demo/chart-area-demo.js"></script>
<script src="assets_admin/js/demo/chart-pie-demo.js"></script>

</body>

</html>